
html {
    font-size: 22px;
}

body{
    font-size: 22px;
    
}

main {
    font-family: monospace;
}

h1, h2 {
    color: blue;
}
.gray {
    color: gray;
}

p {
    color: purple;
}

p {
    color: red;
}

.hightlight {
    text-transform: uppercase;
    background-color: gold;
}



#second {
    font-size: italic;

}