@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding: 10%;
    font-size: 2rem;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-family: 'roboto',sans-serif;
}

/* input,button {
    font: inherit;
} */

/* p {
    font-weight: 500;
    line-height: 1.5;
    font-style: italic;

} */

/* p { 
    line-height: 1.5;
letter-spacing: 0.1em;
word-spacing: 0.1em;
}
 */

/* p {
    text-decoration: none;
    text-transform: uppercase;
    text-align: justify;
text-indent: 2em;    
} */








