@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.column {
/* column-count: 4;
column-width: 250px; */

column: 4 250px;
column-rule: 3px solid black;
column-gap: 3rem;
}

























/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: white;
    padding: 1rem;

}

.left {
    float: left;
    margin-right: 1rem;
}

 .right {
    float: right;
    margin-left: 1rem;
}

.clear {
    clear: both;
}


section {
    background-color: bisque;
    border: 1px solid black;
    padding: 1rem;
    display: flow-root;
}
 */

/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
text-align: right;
background-color:black;
margin: 0%; 
}


li {
    margin-inline: 0.5rem;
    display: inline-block;

}

li a {
    color: white;
    text-decoration: none;

}

li a:hover, li a:focus {
    text-decoration: underline;
} */


/*
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    margin: 0.5rem;
    font-family: "roboto", sans-serif;
    text-align: center;

}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
font-size: 3rem;
line-height: 7rem;

}


h2 {
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-type: none;
}

li {
    border-top: 1px #333;   
}

li a {
    display: block;
}

li a, 
li a:visited {
    text-decoration: none;
    color: #333;
}


li a:hover,
li a:focus {
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

li:last-child a {
    border-radius: 0 0 2rem 2rem;
}





















@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ol {
    list-style-type: lower-alpha;
    padding: 0%;
}


ul{
    list-style-type: square;
    text-align: center;
    list-style-position:inside;
    color: blue;
    line-height: 1.6;
   /*  list-style-image: url("../images/checkmark.png");
    list-style: square url("../images/checkmark.png")
    inside; */

/*ul li:nth-child(even) {
    color: red;

}*/

/*ul ::marker {
color: red;
font-family: fantasy;
font-size: 1em;
content: "only $5 >> ";
ent: "only $5 >> ";
} */

